table.LaunchpadMK2.Controller {
	margin: 0 !important;

	width: calc(var(--SCALE) * 240);
	height: calc(var(--SCALE) * 240);

	padding-left: calc(var(--SCALE) * 10);
	padding-bottom: calc(var(--SCALE) * 10);
	padding-right: calc(var(--SCALE) * 10);
	padding-top: calc(var(--SCALE) * 10);

	background-color: black;

	border-radius: calc(var(--SCALE) * 10);
}
table.LaunchpadMK2.Controller tbody tr td.btn {
	width: calc(var(--SCALE) * 20);
	height: calc(var(--SCALE) * 20);
	margin: calc(var(--SCALE) * 3);

	border-radius: calc(var(--SCALE) * 3);

	background-color: white;

	font-size: calc(var(--SCALE) * 5.8);
}
table.LaunchpadMK2.Controller tbody tr td.btn.round {
	border-radius: calc(var(--SCALE) * 16);
	width: calc(var(--SCALE) * 20);
	height: calc(var(--SCALE) * 20);
	padding: calc(var(--SCALE) * 2);
	background-color: black;
	color: white;
	border: 1px solid white;
}